*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 1296px;
    height: 170px;
    margin: 40 auto;
    padding: 20px;
    background-color: black;
    color: #fff;
    line-height: 1.6;
}
a {
    text-decoration: none;
    color: #fff;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.nav-menu {
    list-style: none;
    display: flex;
    gap: 16px;
}
.nav-menu a.btn {
    background: #fff;
    color: black;
    padding: 8px 16px;
    border: 4px;
}
.box1 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40 auto;
}
.box-1 h2 {
    font-size: 32px;
}
.box-1 span {
    font-size: ;
}

.car-img {
    max-width: 100%;
    height: auto;
    margin-top: 16px;
    padding: 20px;
}
.btn {
    display: inline-block;
    margin-top: 16px;
    background: #0000;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    }
.box2, .box3{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.box3{
    background: linear-gradient(to rigth, #5e0a0a, #aa2323);
    color: #fff;
    margin: 40 auto;
}
.box-3 text h2 {
    font-size: 24px;
    margin-bottom: 16px;
}